<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>

  <header>
    <!-- Navbar -->
    <nav class="navbar-home p-3">
      <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center" style="height: 50px;">
          <div>
            <a class="text-uppercase font-weight-bold" href="">{{title}}</a>
          </div>
          <div class="d-flex justify-content-around">
              <div class="text-white mx-4"><a routerLink="/" class="px-1">HOMBRE</a></div>
              <div class="text-white mx-4"><a routerLink="/" class="px-1">MUJER</a></div>
              <div class="text-white mx-4"><a routerLink="/" class="px-1">DEPORTES</a></div>
              <div class="text-white mx-4"><a routerLink="/" class="px-1">OUTLET</a></div>
              <div class="text-white mx-4"><a routerLink="/about" class="px-1">CONTACTO</a></div>
          </div>
          <div class="button-login">
            <a class="font-weight-bold border rounded bg-light p-2 px-3" routerLink="/login">Login</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- Navbar -->
  
    <!-- Jumbotron -->
    <!-- <div class="p-5 text-center bg-light">
      <h1 class="mb-3">Heading</h1>
      <h4 class="mb-3">Subheading</h4>
      <a class="btn btn-primary" href="" role="button">Call to action</a>
    </div> -->
    <!-- Jumbotron -->
  </header>


  <router-outlet></router-outlet>
  <!-- <app-shoes-home></app-shoes-home> -->

</body>
</html>