body {
    background: #f5f5f5;
    font-family: 'Bebas Neue', cursive;

}

.navbar-home {
    background-color: #252525;
}

.navbar-home a:link, .navbar-home a:visited, .navbar-home a:hover, .navbar-home a:active {
    color: white;
    text-decoration: none;
}

.button-login a:link, .button-login a:visited, .button-login a:hover, .button-login a:active {
    color: #252525;
}