<h1 class="container mt-4">ZAPATILLAS</h1>

<div class="container mx-auto mt-4">
  <div class="row"> 
    <div *ngFor="let shoe of shoes" class="col-md-4">
      <div class="card" style="width: 20rem;">
        <img [src]="shoe.image" class="card-img-top img-card" [alt]="shoe.name">
        <div class="card-body">
          <h5 class="card-title">{{shoe.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{shoe.style}}</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- <a href="#" class="btn mr-2 text-black" *ngIf="shoe.stock!=0">Comprar</a> -->
          <div class="d-flex">
            <app-input-number [(quantity)]="shoe.quantity" [max]="shoe.stock" *ngIf="shoe.stock!=0"></app-input-number>
            <button class="btn mr-2 text-black flex-shrink-0" type="button" (click)="addToCart(shoe)" *ngIf="shoe.stock!=0">
              <i class="bi-cart-fill me-1"></i>
              Añadir al carro
            </button>
            <a href="#" class="btn mr-2 text-black" *ngIf="shoe.stock==0" style="pointer-events: none">Sin stock</a>
          </div>
        </div>   
      </div>
    </div>
  </div>
  
</div>
