.btn {
  border: 4px solid;
  border-image-slice: 1;
  background: white;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  text-decoration: none;
  transition: all .4s ease;
}
  
.btn:hover {
  border: 4px solid #fff !important; 
  box-shadow: #fff 1px 0 5px;
}

.input-btn{
  color: black;
  -webkit-text-fill-color: unset !important;
  -webkit-background-clip: unset !important;
  background-color: whitesmoke;
}

.input-btn:hover {
  border: 4px solid #fff !important; 
  box-shadow: #fff 1px 0 5px;
}